<div class="container">
	<ul class="nav nav-pills">
	  <li role="presentation" ng-class="{'active': admin.state.current.name == 'app.admin.teams'}">
	  	<a ui-sref="app.admin.teams">Csapatok</a></li>
	  <li role="presentation" ng-class="{'active': admin.state.current.name == 'app.admin.matches'}">
	  	<a ui-sref="app.admin.matches">Meccsek</a></li>
	  <li role="presentation" ng-class="{'active': admin.state.current.name == 'app.admin.participants'}">
	  	<a ui-sref="app.admin.participants">Résztvevők</a></li>
	</ul>
</div>

<div class="container">
	<ui-view></ui-view>
</div>