<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<form name="winnerForm">
				<div class="form-group col-xs-6">
					<label>Végső győztes</label>
					<input type="text" class="form-control" uib-typeahead="team as team.longName for team in bets.tour.data.teams | filter: {longName: $viewValue}" ng-model="bets.form.winner">
				</div>
				<div class="form-group col-xs-6">
					<label>Gólkirály</label>
					<input type="text" class="form-control" uib-typeahead="player as players.player for team.players in bets.tour.data.teams | filter: {longName: $viewValue}" ng-model="bets.form.topScorer">
				</div>
			</form>
		</div>
	</div>
</div>

