<div class="container">
	<div class="row">
		<div ng-if="dashboard.showPromo(dashboard.promo.current, dashboard.user)">
			<div class="col-xs-12 promobox bg-warning text-warning">
				<h3></span> {{dashboard.promo.current.title}}</h3>
				<p>{{dashboard.promo.current.message}}</p>
				<a class="btn btn-success" ng-hide="dashboard.promo.users[dashboard.user.uid]" href ng-click="dashboard.replyToPromo(dashboard.promo.current, dashboard.user, true)">Igen, jövök!</a>
				<em ng-show="dashboard.promo.users[dashboard.user.uid]">Visszajeleztél, hogy jössz. <a href ng-click="dashboard.replyToPromo(dashboard.promo.current, dashboard.user, null)">Mégsem jövök</a></em>			
			</div>	
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="row">

				<div class="col-xs-12">
					
					<div class="panel panel-info" ng-class="{'panel-info': dashboard.user.bets, 'panel-warning': !dashboard.user.bets}">
						<div class="panel-heading">
							<h3 class="panel-title">
								<span class="glyphicon glyphicon-calendar"></span>
								Aktuális tippjeid
							</h3>
						</div>
						<div class="panel-body" ng-class="{'bg-warning': !dashboard.user.bets}">
							<div class="match-entry" ng-repeat="match in dashboard.tour.data.matches | orderBy: 'datetime' : true | open: false | noResult | limitTo: 2">
								<span class="label label-danger" ng-show="dashboard.now > match.datetime - dashboard.timeLimit">MOST</span><small> {{match.datetime | date: 'MM.dd., H:mm'}}</small><br>
								<span class="flag-icon" ng-class="{'flag-icon-{{match.home.ISO}}': true}"></span>
								<span class="hidden-xs">{{match.home.longName}} - {{match.away.longName}}</span>
								<span class="visible-xs-inline">{{match.home.shortName}} - {{match.away.shortName}}</span>
								<span class="flag-icon" ng-class="{'flag-icon-{{match.away.ISO}}': true}"></span>
								<strong class="pull-right" ng-show="dashboard.user.bets.matches[match.$id]">
									{{dashboard.user.bets.matches[match.$id].home}} - 
									{{dashboard.user.bets.matches[match.$id].away}}
								</strong>
								<strong class="pull-right text-danger" ng-hide="dashboard.user.bets.matches[match.$id]">
									<span class="glyphicon glyphicon-flash"></span>
									<span class="hidden-xs">Nem tippeltél</span>
								</strong>
							</div>
							<div class="match-entry" ng-repeat="match in dashboard.tour.data.matches | orderBy: 'datetime' | open: true | limitTo: 4" ng-show="dashboard.user.bets">
								<span class="label label-warning" ng-show="dashboard.now + 3600000 > match.datetime">MINDJÁRT!</span><small> {{match.datetime | date: 'MM.dd., H:mm'}}</small><br>
								<span class="flag-icon" ng-class="{'flag-icon-{{match.home.ISO}}': true}"></span>
								<span class="hidden-xs">{{match.home.longName}} - {{match.away.longName}}</span>
								<span class="visible-xs-inline">{{match.home.shortName}} - {{match.away.shortName}}</span>
								<span class="flag-icon" ng-class="{'flag-icon-{{match.away.ISO}}': true}"></span>
								<strong class="pull-right" ng-show="dashboard.user.bets.matches[match.$id]">
									{{dashboard.user.bets.matches[match.$id].home}} - 
									{{dashboard.user.bets.matches[match.$id].away}}
								</strong>
								<strong class="pull-right text-danger" ng-hide="dashboard.user.bets.matches[match.$id]">
									<span class="glyphicon glyphicon-flash"></span>
									<span class="hidden-xs">Nem tippeltél</span>
								</strong>
							</div>
							<div class="text-center">
								<button class="btn btn-primary" ui-sref="app.myBets({filter: true})" ng-show="dashboard.user.bets">Összes nyitott tippem</button>
								<button class="btn btn-warning" ui-sref="app.myBets({filter: true})" ng-hide="dashboard.user.bets">Tippelni szeretnék!</button>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xs-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								<span class="glyphicon glyphicon-ok-circle"></span>
								Legfrissebb pontjaid</h3>
						</div>
						<div class="panel-body">
							<div ng-hide="matches.length" class="empty-state-message text-center">
								Itt láthatod majd a frissen kapott pontjaidat.
							</div>
							<div class="player-entry" ng-repeat="match in dashboard.tour.data.matches | orderBy: 'datetime' : true | result | limitTo: 4 as matches">
								<span class="flag-icon" ng-class="{'flag-icon-{{match.home.ISO}}': true}"></span>
								<a ui-sref="app.match({matchId: match.$id})">
									<span class="hidden-xs">{{match.home.longName}} - {{match.away.longName}}</span>
									<span class="visible-xs-inline">{{match.home.shortName}} - {{match.away.shortName}}</span>
								</a>
								<span class="flag-icon" ng-class="{'flag-icon-{{match.away.ISO}}': true}"></span>
								
								<span class="pull-right point-label">
									<span class="label label-success" ng-show="dashboard.user.bets.matches[match.$id].points"><span class="glyphicon glyphicon-ok"></span> {{dashboard.user.bets.matches[match.$id].points}} pont</span>
									<span class="label label-default" ng-hide="dashboard.user.bets.matches[match.$id].points || !match.result"><span class="glyphicon glyphicon-remove"></span> 0 pont</span>
								</span>
							</div>
							<div class="text-center">
								<button class="btn btn-primary" ui-sref="app.myBets({filter:false})">Lezárt meccsek</button>		
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-star-empty"></span>
						Pontverseny</h3>
				</div>
				<div class="panel-body">
					<ul class="nav nav-tabs" ng-if="dashboard.user.league[1]">
						<li role="presentation" ng-class="{'active': dashboard.leagueFilter === league}" ng-repeat="league in dashboard.user.league"><a href ng-click="dashboard.leagueFilter = league">{{league}} Liga</a></li>
					</ul>
					<div 
						class="player-entry" 
						ng-repeat="player in dashboard.users | orderBy: 'score' : true | league: dashboard.leagueFilter track by player.uid" 
						ng-class="{'text-info player-bold': dashboard.user.uid === player.uid}">
						<span>
							<span class="glyphicon glyphicon-star-empty" ng-hide="dashboard.user.uid === player.uid" style="color: #fff"></span>
							<span class="glyphicon glyphicon-star" ng-show="dashboard.user.uid === player.uid"></span>
							<a ui-sref="app.public({uid: player.uid})">{{player.name}}</a>
						</span>
						<span class="pull-right">
							{{player.score}} pont
						</span>
					</div>
				</div>
				<div class="panel-footer">
					<a ui-sref="app.rules">
						<span class="glyphicon glyphicon-question-sign"></span>
						Hogyan számoljuk a pontokat?
					</a>
				</div>
			</div>
		</div>
		
	</div>
</div>

