<div class="container">
	<div class="row">

		<div class="col-xs-12 col-md-6 col-md-push-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-star-empty"></span>
						Pontverseny</h3>
				</div>
				<div class="panel-body">
					<div class="player-entry" ng-repeat="player in dashboard.users | orderBy: 'score' : true  track by player.uid" ng-class="{'text-info player-bold': dashboard.user.uid === player.uid}">
						<span>
							<span class="glyphicon glyphicon-star-empty" ng-hide="dashboard.user.uid === player.uid" style="color: #fff"></span>
							<span class="glyphicon glyphicon-star" ng-show="dashboard.user.uid === player.uid"></span>
							{{player.name}}
							<span ng-show="!player.name">{{player.email}}</span>
						</span>
						<span class="pull-right">
							{{player.score}} pont
						</span>
					</div>
				</div>
				<div class="panel-footer">
					<a href>
						<span class="glyphicon glyphicon-question-sign"></span>
						Hogyan számoljuk a pontokat?
					</a>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-md-6 col-md-pull-6">
			<div class="row">

				<div class="col-xs-12">
					<div class="panel panel-info" ng-class="{'panel-info': dashboard.user.bets, 'panel-warning': !dashboard.user.bets}">
						<div class="panel-heading">
							<h3 class="panel-title">
								<span class="glyphicon glyphicon-calendar"></span>
								Nyitott tippjeid
							</h3>
						</div>
						<div class="panel-body" ng-class="{'bg-warning': !dashboard.user.bets}">
							<div class="text-warning text-center" ng-hide="dashboard.user.bets">
								Még nem adtál le egyetlen tippet sem!
							</div>
							<div class="match-entry" ng-repeat="match in dashboard.tour.data.matches | orderBy: 'datetime' | open: true | limitTo: 4" ng-show="dashboard.user.bets">
								<small>{{match.datetime | date: 'MM.dd., H:mm'}}</small><br>
								<span class="flag-icon" ng-class="{'flag-icon-{{match.home.ISO}}': true}"></span>
								{{match.home.longName}} - {{match.away.longName}}
								<span class="flag-icon" ng-class="{'flag-icon-{{match.away.ISO}}': true}"></span>
								<strong class="pull-right" ng-show="dashboard.user.bets.matches[match.$id]">
									{{dashboard.user.bets.matches[match.$id].home}} - 
									{{dashboard.user.bets.matches[match.$id].away}}
								</strong>
								<strong class="pull-right text-danger" ng-hide="dashboard.user.bets.matches[match.$id]">
									<span class="glyphicon glyphicon-flash"></span>
									<span class="hidden-xs">Nem tippeltél</span>
								</strong>
							</div>
							<div class="text-center">
								<button class="btn btn-primary" ui-sref="app.myBets({filter: true})" ng-show="dashboard.user.bets">Összes nyitott tippem</button>
								<button class="btn btn-warning" ui-sref="app.myBets({filter: true})" ng-hide="dashboard.user.bets">Tippelni szeretnék!</button>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xs-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								<span class="glyphicon glyphicon-ok-circle"></span>
								Legfrissebb pontjaid</h3>
						</div>
						<div class="panel-body">
							<div ng-hide="matches.length" class="empty-state-message text-center">
								Itt láthatod majd a frissen kapott pontjaidat.
							</div>
							<div class="player-entry" ng-repeat="match in dashboard.tour.data.matches | orderBy: 'datetime' | result | limitTo: 4 as matches">
								<span class="flag-icon" ng-class="{'flag-icon-{{match.home.ISO}}': true}"></span>
								{{match.home.longName}} - {{match.away.longName}}
								<span class="flag-icon" ng-class="{'flag-icon-{{match.away.ISO}}': true}"></span>
								
								<span class="pull-right point-label">
									<span class="label label-success" ng-show="dashboard.user.bets.matches[match.$id].points"><span class="glyphicon glyphicon-ok"></span> {{dashboard.user.bets.matches[match.$id].points}} pont</span>
									<span class="label label-default" ng-hide="dashboard.user.bets.matches[match.$id].points || !match.result"><span class="glyphicon glyphicon-remove"></span> 0 pont</span>
								</h4>
							</div>
							<div class="text-center">
								<button class="btn btn-primary" ui-sref="app.myBets({filter:false})">Lezárt meccsek</button>		
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

