<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
			
			<form class="form user-form" ng-submit="login.user.login(login.form)">
				<h4>Bejelentkezés</h4>
				<div class="form-group">
				    <div class="input-group">
				    	<div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
				    	<input type="text" class="form-control" name="email" placeholder="Email" ng-model="login.form.email">
				    	<div class="input-group-addon">@kbcsecurities.hu</div>
				    </div>
				</div>

				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
						<input type="password" class="form-control" name="password" placeholder="Jelszó" ng-model="login.form.password">
					</div>
				</div>

				<div class="form-group">
				     <button type="submit" class="btn btn-primary btn-block">Bejelentkezés</button>
					<hr>
				  	<div class="col-xs-12">
				  		<p class="text-center">Még nem regisztráltam. <a ui-sref="register">Most regisztrálok!</a></p>
				  	</div>
				</div>
			</form>
		</div>
	</div>
</div>
