<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-10">
			<h3>
				<small>{{match.current.datetime | date: 'MM.dd. H:mm'}}</small>
			</h3>
			<h1 class="hidden-xs">
				<span class="flag-icon" ng-class="{'flag-icon-{{match.current.home.ISO}}': true}"></span>
				<span>{{match.current.home.longName}} - {{match.current.away.longName}}</span>
				<span class="flag-icon" ng-class="{'flag-icon-{{match.current.away.ISO}}': true}"></span>
				<span class="pull-right">{{match.current.result.home}} - {{match.current.result.away}}</span>
			</h1>
			<h3 class="visible-xs-inline">
				<span class="flag-icon" ng-class="{'flag-icon-{{match.current.home.ISO}}': true}"></span>
				<span>{{match.current.home.shortName}} - {{match.current.away.shortName}}</span>
				<span class="flag-icon" ng-class="{'flag-icon-{{match.current.away.ISO}}': true}"></span>
				<span class="pull-right">{{match.current.result.home}} - {{match.current.result.away}}</span>
			</h3>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<ul class="nav nav-tabs" ng-if="match.user.league[1]">
				<li role="presentation" ng-class="{'active': match.leagueFilter === league}" ng-repeat="league in match.user.league"><a href ng-click="match.leagueFilter = league">{{league}} Liga</a></li>
			</ul>
			<h4 ng-repeat="user in match.userList | orderBy: 'points' : true | league: match.leagueFilter" class="match-entry">
				<a ui-sref="app.public({uid: user.uid})">{{user.name}}</a>
				
				<span class="pull-right">

					<span class="label" ng-class="{'label-success': user.points === 2, 'label-info': user.points === 1}" ng-show="user.points">
						<span class="glyphicon glyphicon-ok"></span> {{user.points}} pont</span>
						<span class="label label-default" ng-show="!user.points"><span class="glyphicon glyphicon-remove"></span> 0 pont</span>
				</span>

				<small><div>Tipp: {{user.home}} - {{user.away}}</div></small>
			</h4>
		</div>
	</div>
</div>