<div class="container">
	<div class="row">
		<div class="col-xs-12" ng-hide="matches.uploadForm">
			<a href ng-click="matches.uploadForm = true" ><span class="glyphicon glyphicon-plus"></span> Meccsek feltöltése</a>
		</div>
		<div class="col-xs-12" ng-show="matches.uploadForm">
			<h4>Meccsek feltöltése</h4>
			<form name="matchesForm" ng-submit = "matches.upload(matches.form.list, matches.form.replace); matches.reset(matchesForm)">
				<div class="form-group">
					<label>Meccslista</label>
					<textarea 
						required
						class="form-control" 
						name="matchList" 
						id="matchList" 
						cols="30" 
						rows="10"
						placeholder="Formátum: Csoport, Időpont, Hazai, Vendég"
						ng-model="matches.form.list"></textarea>
				</div>
				<p class="help-block" ng-show="matchesForm.matchlist.$touched && matchesForm.matchlist.$invalid">Másold be a meccsadatokat!</p>
				<div class="checkbox" ng-class="{'has-warning': matches.form.replace}">
					<label>
						<input type="checkbox" ng-model="matches.form.replace">A feltöltött meccsek cserélése</input>
					</label>
					<p class="help-block" ng-show="matches.form.replace"><strong>Figyelj oda,</strong> ezzel törölni fogod az összes feltöltött meccset, eredményt és az eddig leadott tippek sem lesznek érvényesek!</p>
				</div>
				<button class="btn btn-primary" type="submit" ng-disabled="matchesForm.$invalid">Feltöltés</button>
				<button class="btn btn-default" type="reset" ng-click="matches.uploadForm=false; matches.reset(matchesForm)">Mégse</button>
			</form>
		</div>
		<div class="col-xs-12" ng-hide="matches.uploadForm">
			<table class="table table-striped">
				<thead>
					<th>Csoport</th>
					<th class="text-center">Időpont</th>
					<th class="text-center">Csapatok</th>
					<th class="text-center">Eredmény</th>
				</thead>
				<tr ng-repeat="match in matches.data.matches">
					<td>{{match.group}}</td>
					<td class="text-center">{{match.datetime}}</td>
					<td class="text-center">{{match.home.longName}} - {{match.away.longName}}</td>
					<td class="text-center">{{match.result.home}} : {{match.result.away}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>