<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" ui-sref="app.dashboard">euro2016</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li><a ui-sref="app.dashboard">Főoldal</a></li>
          <li><a ui-sref="app.myBets">Tippjeim</a></li>
          <li ng-show="navigation.user.admin"><a ui-sref="app.admin.teams">Admin</a></li>
        </ul>

        <div class="navbar-right">
          <ul class="nav navbar-nav">
            <li>
              <a ui-sref="app.profile">
                <span class="glyphicon glyphicon-user"></span>&nbsp {{navigation.user.email}}
              </a>

            </li>
          </ul>
          <form class="navbar-form navbar-right">
            <button class="btn btn-primary" ng-click="navigation.userService.logout()">Kijelentkezés</button>            
          </form>
        </div>

      </div>
    </div>
  </div>
</div>