<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h4>Regisztrált játékosok</h4>
			<table class="table table-striped">
				<thead>
					<th>Email</th>
					<th class="text-center">Név</th>
					<th class="text-center">Cég</th>
					<th class="text-center">Regisztráció ideje</th>
					<th class="text-center">Liga</th>
					<th class="text-center">Fő tipp?</th>
					<th class="text-center">Meccs tippek?</th>
					<th class="text-center">Admin</th>
					<th class="text-center">Módosítás</th>
				</thead>
				<tbody>
					<tr ng-repeat="user in participants.players">
						<td><span uib-tooltip="{{user.uid}}">{{user.email}}</span></td>
						<td class="text-center">{{user.name}}</td>
						<td class="text-center">{{user.company}}</td>
						<td class="text-center">{{user.createdAt | date: 'MM.dd. H:mm'}}</td>
						<td class="text-center">{{user.league}}</td>
						<td class="text-center">
							<span ng-show="user.bets.topScorer && user.bets.winner"><span class="glyphicon glyphicon-ok text-success"></span></span>
							<span ng-hide="user.bets.topScorer && user.bets.winner"><span class="glyphicon glyphicon-remove text-danger"></span></span>
						</td>
						<td class="text-center">
							<span ng-show="user.bets.matches"><span class="glyphicon glyphicon-ok text-success"></span></span>
							<span ng-hide="user.bets.matches"><span class="glyphicon glyphicon-remove text-danger"></span></span>
						</td>
						<td class="text-center">
							<span ng-show="user.admin"><span class="glyphicon glyphicon-ok text-success"></span></span>
							<span ng-hide="user.admin"><span class="glyphicon glyphicon-remove text-danger"></span></span>
						</td>
						<td class="text-center">
							<a href ng-click="participants.makeUserAdmin(user)" ng-hide="user.admin">Adminná teszem</a>
						</td>
					</tr>
				</tbody>
			</table>
			<hr>
		</div>

		<div class="col-xs-6">
			<h4>Várólista</h4>
			<div ng-hide="participants.pending.length">
				<span><em>Nincs cím a listában.</em></span>
			</div>
			<div ng-repeat = "item in participants.pending">
				<span>{{item.email}} ({{item.league}})</span>
				<a href ng-click="participants.deletePending(item)">Törlés</a>
			</div>
		</div>
		<div class="col-xs-6">
			<div>
				<h4>Új emailcímek hozzáadása</h4>
				<a href ng-hide="participants.showAddEmails" ng-click="participants.showAddEmails = true"><span class="glyphicon glyphicon-plus"></span> Új címek hozzáadása</a>
			</div>
			<form ng-show="participants.showAddEmails">
				<div class="form-group">
					<textarea class="form-control" name="newEmails" cols="30" rows="10" placeholder="email@email.com, email@email.com, ..." ng-model="participants.form.newEmails"></textarea>
				</div>
				<p class="help-block">Az új emailcímek vesszővel elválasztva.</p>
				<div class="form-group">
					<label>Melyik ligába menjenek?</label>
					<select class="form-control" ng-options="league for league in participants.leagues" ng-model="participants.form.league">{{league}}
						<option value="" disabled selected hidden>Válassz egyet!</option>
					</select>
				</div>
				<button class="btn btn-primary" ng-click="participants.addNewEmails(participants.form.newEmails, participants.form.league)">Hozzáadás</button>
				<button class="btn btn-default" ng-click="participants.form.newEmails = undefined; participants.showAddEmails = false">Mégse</button>
			</form>
		</div>
	</div>
</div>
