<div class="row">
	<div class="col-xs-12">
		<div class="modal-header">
			<h3 class="modal-title">Adj meg egy új jelszót!</h3>
		</div>
		<div class="modal-body">
			<form name="passForm">

				<div class="form-group" ng-class="{'has-success': passForm.tempPassword.$dirty && passForm.tempPassword.$touched}">
				    <div class="input-group">
				    	<div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
						<input 
							required
							type="password" 
							class="form-control" 
							id="passwordInput" 
							name="tempPassword" 
							ng-model="form.tempPassword" 
							placeholder="Ideiglenes jelszó"
							ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 300, 'blur': 0 } }">
				    </div>
				    <div ng-messages="passForm.tempPassword.$error" ng-if="passForm.tempPassword.$touched">
				    	<p class="help-block" ng-message="required">Kötelező megadni</p>
				    </div>
				</div>

				<div class="form-group" ng-class="{'has-error': passForm.password.$touched && passForm.password.$invalid,'has-success': passForm.password.$dirty && passForm.password.$touched}">
				    <div class="input-group">
				    	<div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
						<input 
							required
							minlength="6" 
							type="password" 
							class="form-control" 
							id="passwordInput" 
							name="password" 
							ng-model="form.password" 
							placeholder="Új jelszó"
							ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 300, 'blur': 0 } }">
				    </div>
				    <div ng-messages="passForm.password.$error" ng-if="passForm.password.$touched">
				    	<p class="help-block" ng-message="required">Kötelező jelszót megadni</p>
				    	<p class="help-block" ng-message="minlength">Legalább 6 karakter hosszú jelszót adj meg</p>
				    </div>
				</div>

				<!-- Password check -->

				<div class="form-group" ng-class="{'has-error': form.password !== form.passwordCheck && passForm.passwordCheck.$touched, 'has-success': form.password === form.passwordCheck && passForm.passwordCheck.$dirty}">
				    <div class="input-group">
				    	<div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
						<input 
							required 
							type="password" 
							class="form-control" 
							id="passwordInput" 
							name="passwordCheck" 
							ng-model="form.passwordCheck" 
							placeholder="Új jelszó megerősítése"
							ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 300, 'blur': 0 } }"
							ng-disabled="passForm.password.$invalid">
				    </div>
					<div class="help-block" ng-show="form.password !== form.passwordCheck && passForm.passwordCheck.$touched">Nem egyezik a két jelszó</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-disabled="resetForm.$invalid" ng-click="password.changePassword(form)">Rendben</button>
		</div>
	</div>
</div>