<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h3>Profiladataim</h3>
			<hr>
			<h4>
				<strong>Email: </strong>
				<span>{{profile.user.email}}</span>
				<small><span class="glyphicon glyphicon-lock"></span> Az emailcímedet nem változtathatod meg.</small>
			</h4>
			<h4 ng-hide="profile.form.name">
				<strong>Név: </strong>
				<span>{{profile.user.name}}</span>
				<small>
					<a href ng-click="profile.editParam('name')">Szerkesztés</a>
				</small>
			</h4>
			<form class="form-horizontal" ng-submit="profile.saveParam('name',profile.form.name)" ng-show="profile.form.name">
				<div class="form-group">
					<div class="col-xs-8 col-sm-6 col-lg-3">
						<input type="text" class="form-control" ng-model="profile.form.name" ng-blur="profile.saveParam('name',profile.form.name)">		
					</div>
					<button type="submit" class="btn btn-primary">Mentés</button>
				</div>
			</form>
			<h4 ng-hide="profile.form.company">
				<strong>Cégnév: </strong>
				<span>{{profile.user.company}}</span>
				<small>
					<a href ng-click="profile.editParam('company')">Szerkesztés</a>
				</small>
			</h4>
			<form class="form-horizontal" ng-submit="profile.saveParam('company',profile.form.company)" ng-show="profile.form.company">
				<div class="form-group">
					<div class="col-xs-8 col-sm-6 col-lg-3">
						<input type="text" class="form-control" ng-model="profile.form.company" ng-blur="profile.saveParam('company',profile.form.company)">		
					</div>
					<button type="submit" class="btn btn-primary">Mentés</button>
				</div>
			</form>
		</div>

		<div class="col-xs-12">
			<hr>
			<button class="btn btn-danger">Profil törlése</button>
			<span class="text-danger"><strong>&nbsp Figyelem!</strong> Ezzel törlöd magad a játékból, minden tipped és pontszámod elvész.</span>
		</div>
	</div>
</div>