<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h3>Profiladataim</h3>
			<hr>
			<h5>
				<span class="glyphicon glyphicon-envelope text-info"></span>
				<strong>Email</strong>
			</h5>
				<span>{{profile.user.email}}</span>
				<small class="help-block"><span class="glyphicon glyphicon-lock"></span> Az emailcímedet nem változtathatod meg.</small>
			<hr>
			<h5 >
				<span class="glyphicon glyphicon-user text-info"></span>
				<strong>Név</strong>
			</h5>
				<span ng-hide="profile.form.name">{{profile.user.name}}
				<small>
					<a href ng-click="profile.editParam('name')">Szerkesztés</a>
				</small>
				</span>

			<form class="form-horizontal" ng-submit="profile.saveParam('name',profile.form.name)" ng-show="profile.form.name">
				<div class="form-group">
					<div class="col-xs-8 col-sm-6 col-lg-3">
						<input type="text" class="form-control" ng-model="profile.form.name" ng-blur="profile.saveParam('name',profile.form.name)">		
					</div>
					<button type="submit" class="btn btn-primary">Mentés</button>
				</div>
			</form>
			
			<hr>
			
			<h5>
				<span class="glyphicon glyphicon-briefcase text-info"></span>
				<strong>Cégnév </strong>
			</h5>
				<span ng-hide="profile.form.company">{{profile.user.company}}
				<small>
					<a href ng-click="profile.editParam('company')">Szerkesztés</a>
				</small>
				</span>

			<form class="form-horizontal" ng-submit="profile.saveParam('company',profile.form.company)" ng-show="profile.form.company">
				<div class="form-group">
					<div class="col-xs-8 col-sm-6 col-lg-3">
						<input type="text" class="form-control" ng-model="profile.form.company" ng-blur="profile.saveParam('company',profile.form.company)">		
					</div>
					<button type="submit" class="btn btn-primary">Mentés</button>
				</div>
			</form>
			<hr>
		</div>
		
		<div class="col-xs-12">
			<h4>Jelszó megváltoztatása</h4>
			<a href ng-click="profile.showPasswordChange = true" ng-hide="profile.showPasswordChange">Megváltoztatom a jelszavamat</a>
			

			<form name="passForm" ng-if="profile.showPasswordChange" class="col-xs-4">

				<div class="form-group" ng-class="{'has-error': passForm.oldPassword.$touched && passForm.oldPassword.$invalid, 'has-success': passForm.oldPassword.$dirty && passForm.oldPassword.$touched}">
				    <div class="input-group">
				    	<div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
						<input 
							required
							type="password" 
							class="form-control" 
							id="passwordInput" 
							name="oldPassword" 
							ng-model="form.oldPassword" 
							placeholder="Jelenlegi jelszó"
							ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 300, 'blur': 0 } }">
				    </div>
				    <div ng-messages="passForm.oldPassword.$error" ng-if="passForm.oldPassword.$touched">
				    	<p class="help-block" ng-message="required">Kötelező megadni</p>
				    </div>
				</div>

				<div class="form-group" ng-class="{'has-error': passForm.password.$touched && passForm.password.$invalid,'has-success': passForm.password.$dirty && passForm.password.$touched}">
				    <div class="input-group">
				    	<div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
						<input 
							required
							minlength="6" 
							type="password" 
							class="form-control" 
							id="passwordInput" 
							name="password" 
							ng-model="form.password" 
							placeholder="Új jelszó"
							ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 300, 'blur': 0 } }">
				    </div>
				    <div ng-messages="passForm.password.$error" ng-if="passForm.password.$touched">
				    	<p class="help-block" ng-message="required">Kötelező jelszót megadni</p>
				    	<p class="help-block" ng-message="minlength">Legalább 6 karakter hosszú jelszót adj meg</p>
				    </div>
				</div>

				<!-- Password check -->

				<div class="form-group" ng-class="{'has-error': form.password !== form.passwordCheck && passForm.passwordCheck.$touched, 'has-success': form.password === form.passwordCheck && passForm.passwordCheck.$dirty}">
				    <div class="input-group">
				    	<div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
						<input 
							required 
							type="password" 
							class="form-control" 
							id="passwordInput" 
							name="passwordCheck" 
							ng-model="form.passwordCheck" 
							placeholder="Új jelszó megerősítése"
							ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 300, 'blur': 0 } }"
							ng-disabled="passForm.password.$invalid">
				    </div>
					<div class="help-block" ng-show="form.password !== form.passwordCheck && passForm.passwordCheck.$touched">Nem egyezik a két jelszó</div>
				</div>
				<button class="btn btn-primary" ng-click="profile.changePassword(form)">Mentés</button>
				<button class="btn btn-default" ng-click="profile.showPasswordChange=false; profile.reset(passForm)">Mégse</button>
			</form>			
		</div>
		

		<div class="col-xs-12" ng-hide="profile.showPassword">
			<hr>
			<button class="btn btn-danger" ng-click="profile.showPassword = true">Profil törlése</button>
			<span class="text-danger"><strong>&nbsp Figyelem!</strong> Ezzel törlöd magad a játékból, minden tipped és pontszámod elvész.</span>
		</div>
		<form class="col-md-6 cl-lg-3" ng-show="profile.showPassword" name="passwordForm">
			<hr>
			<div class="form-group">
				<label>Jelszó</label>
				<input type="password" class="form-control" ng-model="profile.form.password" eb-focus="profile.showPassword" required>
			</div>
			<button class="btn btn-danger" ng-click="profile.deleteProfile(profile.form.password)" ng-disabled = "passwordForm.$invalid">Törölni szeretném a profilomat</button>
		</form>
	</div>
</div>