<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>{{public.user.name}} <small>{{public.user.company}}</small></h1>
			
			<h4 ng-hide="public.now < public.start || !public.user.bets.winner || !public.user.bets.topScorer" ><span class="flag-icon" ng-class="{'flag-icon-{{public.user.bets.winner.ISO}}': true}"></span> {{public.user.bets.winner.longName}} | <span class="glyphicon glyphicon-star-empty"></span> {{public.user.bets.topScorer}}</h4>
			<h4 ng-hide="public.user.bets.winner || public.user.bets.topScorer"><small>Nem adott meg favoritokat</small></h4>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<h3>Összesítés <span class="label label-success pull-right">{{public.user.score}} pont</span></h3>
			<hr>
			<h4 ng-repeat="match in public.matches | result as result">

				<span class="flag-icon" ng-class="{'flag-icon-{{match.home.ISO}}': true}"></span>
				{{match.home.longName}} - {{match.away.longName}}
				<span class="flag-icon" ng-class="{'flag-icon-{{match.away.ISO}}': true}"></span>

				<span class="label label-success pull-right" ng-show="public.user.bets.matches[match.$id].points"><span class="glyphicon glyphicon-ok"></span> {{public.user.bets.matches[match.$id].points}} pont</span>

				<span class="label label-default pull-right" ng-hide="public.user.bets.matches[match.$id].points || !match.result"><span class="glyphicon glyphicon-remove"></span> 0 pont</span>

				<span ng-show="!match.result" class="pull-right"><small>Nincs még eredmény</small></span>

				<small>
					<span>{{match.result.home}} - {{match.result.away}}</span>
					<span>(Tipp: {{public.user.bets.matches[match.$id].home}} - {{public.user.bets.matches[match.$id].away}})</span>
				</small>			
				</h4>
			<h4><small ng-hide="result.length">A lezárt meccsekre kapott pontok jelennek majd meg itt.</small></h4>
		</div>
	</div>
</div>