<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 user-form">
			<form name="resetForm">
				<h4>Elfelejtett jelszó pótlása</h4>
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
						<input type="email" class="form-control" placeholder="Add meg az emailcímedet" ng-model="reset.form.email" required>
					</div>
				</div>
				<button class="btn btn-primary btn-block" ng-click="reset.resetPassword(reset.form.email)" ng-disabled="resetForm.$invalid">Kérek egy új jelszót</button>
				<br>
				<p class="text-center"><a ui-sref="login">Dehogy, tudom a jelszavamat!</a></p>
			</form>
		</div>
	</div>
</div>