<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<h3>EB Tippjáték 2016 Szabályzat <br>
			<small>hatályos: 2016. június 1-től, frissítve: 2016. június 22.</small></h3>

			<h4><a name="pontok"></a>Pontszámítás</h4>

			<ul>
			<li>A részvételhez tippekre lesz szükség, minden meccs előtt tippelni kell a végeredményre, legkésőbb 5 perccel a kezdésig.</li>
			<li>A játékot pontokra játsszuk, minden mérkőzésen 2 pontot lehet szerezni. Aki eltalálja a győztest (vagy a döntetlent) az kap 1 pontot, ha pedig a pontos eredmény is egyezik, akkor jár + 1 pont.</li>
			<li>Összesen 51 mérkőzés lesz, vagyis 102 pontot lehet szerezni a meccsekkel.</li>
			<li>Ezen felül tippelni kell a végső győztesre, és a gólkirályra is, ezek eltalálása 3-3 pontot jelent majd.</li>
			<li>Összesen így 108 pontot lehet szerezni. Aki a legtöbb pontot gyűjti, az győz.</li>
			</ul>

			<h4>Holtverseny</h4>

			<ul>
			<li>Két azonos pontszámú versenyző közül az végez előrébb, akinek végső győztesként megadott csapata tovább jut az EB-n.</li>
			<li>Ha ez ugyanaz a csapat/ugyanúgy végzett, akkor a több gólt szerző gólkirály jelölt számít.</li>
			<li>Ha ez is egyelő, akkor a több két pontos találat számít.</li>
			</ul>

			<h4>Tippek leadása</h4>

			<ul>
			<li>A tippeket a meccsek kezdete előtt lehet leadni, legfeljebb 5 perccel a kezdőrúgás előtt.</li>
			<li>A tippeket bármennyiszer lehet módosítani eddig az időpontig.</li>
			<li>Értelemszerűen az összes csoportmérkőzésre leadhatjuk a tippet már az EB kezdete előtt is, utána ugyanis még módosíthatunk rajta.</li>
			<li>A kieséses szakasz meccseit a párosítások kialakítása után töltjük fel a rendszerbe, a tippelés ezután kezdődhet, és a meccs kezdése előtt 5 perccel ér véget.</li>
			</ul>

			<h4>Kieséses rendszer</h4>

			<ul>
			<li>A meccseket a csoportmeccsek után, illetve a kieséses körök után töltjük fel a rendszerbe. A tippelés menete a szokásos (5 perccel meccs előtt kell tippelni legkésőbb).</li>
			<li>A tippek a rendes játékidőre vonatkoznak, vagyis 90 percre, hosszabbítás esetén 120 percre.</li>
			<li>A 11-es párbaj így nem számít bele a pontozásba, vagyis ha valaki döntetlent tippel, akkor arra tippel, hogy 11-esekkel dől el a mérkőzés. Ha pl. 90 perc után 1–1 a meccs, de a hosszabbításban egy gól születik, akkor 2–1 a helyes tipp.</li>
			</ul>

			<hr>

			<h5><a name="joginyilatkozat"></a>Jogi nyilatkozat</h5>
			<small>
				<p>A Tippjáték szervezői: Cinkotai Norbert (<a href="mailto:norbert.cinkotai@kbcsecurities.hu">norbert.cinkotai@kbcsecurities.hu</a>) és Somi András (<a href="mailto:andras.somi@kbcsecurities.hu">andras.somi@kbcsecurities.hu</a>).</p>

				<p>A Tippjátékban való részvétel teljesen önkéntes és ingyenes, ezen felül előzetes regisztrációhoz kötött. A regisztráció feltétele egy valós e-mail cím elküldése a norbert.cinkotai@kbcsecurities.hu e-mail címre, valamint az így kapott regisztrációs link aktiválása, mellyel a résztvevők automatikusan elfogadják és magukra nézve kötelezőnek tekintik a jelen Szabályzatban foglaltakat is. A Tippjáték szervezői fenntartják a jogot, hogy a nyilvánvalóan visszaélésszerű, rosszhiszemű, „troll” regisztrációs igényeket elutasítsák.</p>

				<p>A résztvevők tudomásul veszik, hogy: a) a regisztráció során vagy azt követően megadott felhasználónevüket a Tippjáték szervezői jogosultak a Tippjáték aktuális állásának ismertetése és a végső eredményhirdetés során közzétenni; b) a Tippjátéknak nincs előre meghatározott nyereménye, a cél elsősorban maga a szórakozás, illetve a foci népszerűsítése, így a győztes(ek)nek járó erkölcsi elismerés  konkrét nyereményre nem váltható át, valamint vagyoni/nem vagyoni igény érvényesítésére sem jogosít; c) maguk a Tippjáték szervezői is jogosultak a játékban részt venni, azonos feltételekkel, mint az egyéb résztvevők, kötelesek azonban mindenkor jóhiszeműen és tisztességesen eljárni.</p>

				<p>A Tippjátékkal összefüggésben a szervezők mint magánszemélyek járnak el, így e tevékenységük, valamint maga a Tippjáték semmilyen formában nem hozható összefüggésbe munkáltatójukkal, a KBC Securities N.V.-vel, illetve a KBC Securities Magyarországi Fióktelepével. A szervezők tevékenysége továbbá kizárólag a regisztráció elősegítésére, valamint a tippek leadásához szükséges elektronikus felület kialakítására és karbantartására terjed ki, így nem terheli őket felelősség különösen: a) a mérkőzések eredményeinek alakulásáért; b) a mérkőzések bármely okból történő elmaradásáért; c) a magyar válogatott esetleges (nem várt) idő előtti kieséséért; d) a rendező francia válogatott játékvezetők általi esetleges (várt) favorizálásáért.</p>

				<p>A Tippjátékban történő részvétel érdekében fentiek szerint elküldött felhasználói e-mail címek, valamint önkéntesen megadott esetleges egyéb személyes adatok a játék lezárultát követően haladéktalanul törlésre kerülnek.</p>

				<p>A szervezők fenntartják a jogot, hogy e Szabályzatot a résztvevők értesítése mellett, egyoldalúan módosítsák.</p>
			</small>
		</div>
	</div>
</div>