<div class="container">
	<div class="row">

		<!-- TEAM LIST -->

		<div class="col-xs-6" ng-hide="teams.addTeamForm">
			<ul class="list-group">
				<li class="list-group-item" ng-repeat = "team in teams.data.teams">
				{{team.longName}} ({{team.shortName}})
				<span class="list-edit-controls pull-right text-danger">

					<a href ui-sref="app.admin.teamDetails({team: team.shortName})" title="Játékosok"><span class="glyphicon glyphicon-user"></span>&nbspJátékosok szerkesztése</a>&nbsp
				</span>
				</li>
			</ul>
		</div>
	</div>
</div>
