<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<a ui-sref="app.admin.teamList">Vissza</a>
			<h4><span class="flag-icon" ng-class="{'flag-icon-{{team.current.ISO}}': true}"></span>
			{{team.current.longName}} <small>({{team.current.shortName}})</small></h4> 
			<p class="player" ng-repeat="player in team.data.players | team: team.current.$id track by player.$id ">{{player.name}} <a href ng-click="team.removePlayer(player)"><span class="glyphicon glyphicon-remove"></span></a></p>
		</div>

		<!-- ADD TEAM FORM -->

		<div class="col-xs-12 col-sm-6">
			<form name="playerForm">
				<h4>Játékosok hozzáadása</h4>
				<div class="form-group">

				<!-- Players -->
				<div class="form-group">
					<textarea 
						required
						class="form-control" 
						id="" 
						cols="30" 
						rows="10" 
						ng-model="team.form.players"
						placeholder="A játékosok listája"></textarea>
					<div class="help-block">Másold be vesszővel elválasztva a játékosok neveit.</div>
				</div>

				<button class="btn btn-primary"  ng-click="team.addPlayers(team.current, team.form.players); team.reset(playerForm)" ng-disabled="playerForm.$invalid">Hozzáadás</button>
			</form>
		</div>
	</div>
</div>